@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="card" style=" margin-top: 20px">
<div class="card-header">
<h1>Add Your Title</h1>
<h3>Header</h3>
 <p class="card-text">Add stuff here</p>
</div>
<div class="card-body">
 <h3>Body</h3>

<form method="post" >
 <div class="form-group">
 <div class="row">
 <p class="card-text">Add stuff here</p>
 </div>

 <div class="row">
 <input type="submit" value="Submit" asp-action="Index" />
 </div>
 </div>
</form>
</div>
<div class="card-footer">
 <h3>Footer</h3>

<div class="row">
 <p class="card-text">Add stuff here</p>
</div>
</div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
